In [6]:
import pandas as pd

In [7]:
data = pd.read_parquet("/Users/jrdegbe/Desktop/jlp-data-engineer-test/src/data-yellow-202103.parquet")

In [8]:
data

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2021-03-01 00:22:02,2021-03-01 00:23:22,1.0,0.00,1.0,N,264,264,2,3.00,0.50,0.5,0.00,0.00,0.3,4.30,0.0,NaN
1,2,2021-03-01 00:24:48,2021-03-01 00:24:56,1.0,0.00,1.0,N,152,152,2,2.50,0.50,0.5,0.00,0.00,0.3,3.80,0.0,NaN
2,2,2021-03-01 00:25:17,2021-03-01 00:31:01,1.0,0.00,1.0,N,152,152,2,3.50,0.50,0.5,0.00,0.00,0.3,4.80,0.0,NaN
3,1,2021-03-01 00:07:40,2021-03-01 00:31:23,0.0,16.50,4.0,N,138,265,1,51.00,0.50,0.5,11.65,6.12,0.3,70.07,0.0,NaN
4,2,2021-03-01 00:02:13,2021-03-01 00:06:01,1.0,1.13,1.0,N,68,264,1,5.50,0.50,0.5,1.86,0.00,0.3,11.16,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1925147,2,2021-03-31 23:31:00,2021-03-31 23:45:00,NaN,3.71,NaN,None,48,263,0,18.41,0.00,0.5,4.61,0.00,0.3,26.32,NaN,NaN
1925148,2,2021-03-31 23:08:00,2021-03-31 23:31:00,NaN,5.53,NaN,None,45,43,0,29.17,0.00,0.5,6.28,0.00,0.3,38.75,NaN,NaN
1925149,2,2021-03-31 23:16:58,2021-03-31 23:23:21,NaN,1.23,NaN,None,79,107,0,7.23,0.00,0.5,2.25,0.00,0.3,12.78,NaN,NaN
1925150,2,2021-03-31 23:44:00,2021-04-01 00:12:00,NaN,11.90,NaN,None,163,92,0,43.63,1.35,0.5,0.00,6.12,0.3,51.90,NaN,NaN
1925151,2,2021-03-31 23:18:38,2021-03-31 23:33:30,NaN,3.41,NaN,None,107,256,0,23.56,2.75,0.5,0.00,0.00,0.3,27.11,NaN,NaN

In [9]:
data.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')

In [10]:
data.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
airport_fee                     float64
dtype: object

In [11]:
data.isnull().sum()

VendorID                       0
tpep_pickup_datetime           0
tpep_dropoff_datetime          0
passenger_count           127920
trip_distance                  0
RatecodeID                127920
store_and_fwd_flag        127920
PULocationID                   0
DOLocationID                   0
payment_type                   0
fare_amount                    0
extra                          0
mta_tax                        0
tip_amount                     0
tolls_amount                   0
improvement_surcharge          0
total_amount                   0
congestion_surcharge      127920
airport_fee              1745645
dtype: int64